* {
    box-sizing: border-box;
}

body {
    background-color: #C0BDB9;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}


.form-content {
    width: 960px;
    /*横幅*/
    margin: 0 auto;
    /*中央寄せ*/
    padding: 60px 0;
}

.inner-wrapper{
    background-color: #24323C;
    color: #FFF;
    font-size: 1.6rem;
    padding: 20px 0px;
    text-align: center;
}

.form-btn{
    width: 200px;
    height: 50px;
}

.next-btn{
    background-color: #1BB187;
    color: #FFF;
}
.prev-btn{
    background-color: #435259;
    color: #A1B2B0;
}